{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>University Schedule - Plan Zajęć</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
  <link rel="stylesheet" href="../../static/schedule_app/css/styles.css">
</head>
<body>
  <div id="app"></div>

  <script>
    window.CSRF_TOKEN = '{{ csrf_token }}';
  </script>

  <script src="../../static/schedule_app/js/app.js" defer></script>
</body>
</html>
